.navbar-wrapper {
	display: none;
	background-color: var(--text);
	color: var(--background);
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding-inline: 3rem;
}

.logo {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 10%;
}

.search-and-cart {
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-basis: 40%;
	justify-content: flex-end;
	gap: 1rem;
}

.search-and-cart a {
	display: inline-flex;
	color: inherit;
}

@media (min-width: 1200px) {
	.navbar-wrapper {
		display: block;
	}
	.filters__by-category {
		flex-grow: 1;
		flex-basis: 40%;
	}

	.search-bar {
		margin-right: 1rem;
	}

	.search-bar div input {
		width: 100%;
		min-width: 250px;
	}
}
