.cart-nav-button {
	position: relative;
}
.cart-nav-button__icon {
	position: absolute;
	top: -0.6rem;
	right: -0.8rem;
	font-size: 0.875rem;
	color: var(--background);
	border: 2px solid var(--background);
	font-weight: 600;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
