.chip {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
	padding: 0.25rem;
	border-radius: 1rem;
	background-color: oklch(36.64% 0.045 199.75);
	color: var(--background);
	transition: all 200ms ease;
}

.chip:hover {
	opacity: 0.7;
}

.isActive {
	background-color: var(--accent);
	color: var(--text);
}
