.homepage__title {
	font-size: var(--h4);
	opacity: 0.7;
}

ul.products-list {
	padding-block: 3rem;
}

@media (min-width: 640px) {
	ul.products-list {
		padding-block: 4rem;
	}
	.page-content-dimensions {
		margin-inline: 8%;
	}
}
